*,
*::after,
*::before {
  box-sizing: border-box;
}

.App {
  display: flex;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
}

.inputs {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #93fe83;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);
}

.inputs input {
  width: 200px;
  height: 50px;
  font-size: 18px;
  margin: 10px;
  padding: 10px;
}

.inputs button {
  width: 150px;
  height: 40px;
  padding: 10px;
  background: #106B80;
  color: white;
  border-radius: 8px;
  margin-top: 10px;
  font-size: 1rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
}

.listOfFriends {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  margin-top: 20px;
}

.friendContainer {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.friend {
  width: 400px;
  height: 60px;
  background: #00B8A4;
  display: flex;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
}

.friend h3 {
  margin-left: 15px;
}

.buttonWrap {
  width: 80px;
  height: 60px;
  margin-left: 5px;
  display: flex;
}

.buttonWrap button {
  margin-right: 5px;
  background: #106B80;
  color: white;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
}

button:hover {
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}




